NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/auticare
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
AI_SERVICE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
MAX_FILE_SIZE=10485760
GEMINI_API_KEY=your_gemini_api_key
CRON_SECRET_KEY=paste_your_generated_random_string_here (node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
FROM_EMAIL=noreply@[EMAIL_ADDRESS]

# Firebase Admin configuration (Generate from Firebase Console > Project Settings > Service Accounts)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=